<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'img/favi_patrimonio.png' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <header class="bg-white shadow-md px-8 py-4 flex justify-between items-center">
    <div class="flex items-center">
      <img src="/patrimonio/app/static/img/logo.png" alt="Logo" class="w-full h-10 mr-2 object-contain">
      <div class="flex items-center gap-2">
        <ion-icon name="person-circle" class="text-3xl"></ion-icon>
        <p class="uppercase text-xs font-semibold">Administrador</p>
      </div>

    </div>

    <div class="flex items-center space-x-6 relative">
      <div class="group relative">
        <button class="flex items-center text-gray-700 hover:text-blue-600">
          <ion-icon name="albums-outline" class="text-2xl mr-1"></ion-icon>
          <span>Colecciones</span>
          <ion-icon name="chevron-down-outline" class="text-xl ml-1"></ion-icon>
        </button>
        <div class="absolute hidden group-hover:block bg-white shadow-lg mt-2 rounded-lg py-2 w-40">
          <a href="#" class="flex items-center px-4 py-2 hover:bg-gray-100">
            <ion-icon name="color-palette-outline" class="mr-2"></ion-icon> Bellas Artes
          </a>
          <a href="#" class="flex items-center px-4 py-2 hover:bg-gray-100">
            <ion-icon name="earth-outline" class="mr-2"></ion-icon> Antropología
          </a>
          <a href="#" class="flex items-center px-4 py-2 hover:bg-gray-100">
            <ion-icon name="book-outline" class="mr-2"></ion-icon> Historia
          </a>
        </div>
      </div>


      <a href="listado.html" class="flex items-center text-gray-700 hover:text-blue-600">
        <ion-icon name="log-in-outline" class="text-2xl mr-1"></ion-icon>
        <span>Usuarios</span>
      </a>

      <a href="home.html" class="flex items-center text-gray-700 hover:text-blue-600">
        <ion-icon name="log-in-outline" class="text-2xl mr-1"></ion-icon>
        <span>Salir</span>
      </a>

    </div>

  </header>

  <section class="max-w-[80%] mx-auto">
    <h3 class="text-center text-5xl font-semibold mt-5">Bienvenido</h3>
    <p class="text-center uppercase text-sm">Seleccionar el Área que desea editar</p>
    <div class="py-4 flex flex-col md:flex-row justify-between">
      <div class="flex flex-col gap-3">
        <img src="img/sectores/bellasartes.jpeg" alt="" class="size-[300px] rounded-full">
        <a href="bellas-artes.html"
          class="mx-auto py-1 px-5 bg-red-500 hover:bg-red-600 text-xl font-semibold rounded-md text-white">Bellas
          Artes</a>
      </div>
      <div class="flex flex-col gap-3">
        <img src="img/sectores/antropologia.jpeg" alt="" class="size-[300px] rounded-full">
        <a href="antropologia.html"
          class="mx-auto py-1 px-5 bg-red-500 hover:bg-red-600 text-xl font-semibold rounded-md text-white">Antropología</a>
      </div>
      <div class="flex flex-col gap-3">
        <img src="img/sectores/historia.jpeg" alt="" class="size-[300px] rounded-full">
        <a href="historia.html"
          class="mx-auto py-1 px-5 bg-red-500 hover:bg-red-600 text-xl font-semibold rounded-md text-white">Historia</a>
      </div>
    </div>
  </section>
</body>

</html>